/* Full Body */
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Navbar */
.nav{
    background-color: #f5f5f5;
    width: auto;
    height: 75px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 25px;
}
.navbar h1{
    font-size: 25px;
}
.navbar button{
    background-color: green;
    border: none;
    border-radius: 3px;
    padding: 8px;
    color: white;
}
.navbar button:hover{
 background-color: red;
}

/* Hero Section */
.hero{
    width: auto;
    height: 600px;
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-inline: 70px;
}

.hero-container{
    background-color: #c6e4d6;
    border: none;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.hero-left{
    flex-direction: column;
    padding-top: 50px;
    padding-inline: 70px;
    align-items: center;
    justify-content: space-between;
}
.hero-left h4{
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 25px;
    color: #768a80;
}
.hero-left h1{
    padding-bottom: 20px;
    font-size: 39px;
}
.hero-left button{
    padding: 15px;
    background-color: #347e5c;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.hero-left button:hover{
    background-color: red;
}

.hero-right{
    max-width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-inline: 70px;
}

/* Vision Section */
.vision{
    width: auto;
    height: 550px;
    background-color: #f5f5f5;
    padding-top: 150px;
    padding-inline: 70px;
}

.vision-top h1{
    padding-bottom: 20px;
    color: black;
    font-weight: bolder;
    font-size: 30px;
}
.vision-top p{
    color: #768a80;
}

.vision-bottom{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-top: 40px;
}

.vision-bottom-cardleft{
    background-color: #d5e1f5;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
}
.vision-bottom-cardleft h1{
    padding-top: 10px;
    padding-bottom: 10px;
}
.vision-bottom-cardleft p{
    padding-bottom: 10px;
    color: #768a80;
}
.vision-bottom-cardleft button{
    background-color: #5490f5;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.vision-bottom-cardleft button:hover{
    background-color: red;
}

.vision-bottom-cardcenter{
    background-color: #c6e4d6;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
}
.vision-bottom-cardcenter h1{
    padding-top: 10px;
    padding-bottom: 10px;
}
.vision-bottom-cardcenter p{
    padding-bottom: 10px;
    color: #768a80;
}
.vision-bottom-cardcenter button{
    background-color: #09a15c;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.vision-bottom-cardcenter button:hover{
    background-color: red;
}

.vision-bottom-cardright{
    background-color: #f7ebcf;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
}
.vision-bottom-cardright h1{
    padding-top: 10px;
    padding-bottom: 10px;
}
.vision-bottom-cardright p{
    padding-bottom: 10px;
    color: #768a80;
}
.vision-bottom-cardright button{
    background-color: #ffc239;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.vision-bottom-cardright button:hover{
    background-color: red;
}

/* Quote Section */
.quote{
    width: auto;
    height: 550px;
    background-color: #f5f5f5;
    padding-inline: 70px;
}

.quote-container{
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 30px;
}
.quote-container div{
    background: url('pictures/quote-bg.png') no-repeat left top;
    display: inline-block;
}
.quote-container p{
    text-align: justify;
    padding-top: 25px;
}
.quote-container h1{
    padding-top: 20px;
}
.quote-container h4{
    padding-top: 10px;
    color: #768a80;
    font-weight: 400;
}


/* News Section */
.news{
    width: auto;
    height: 900px;
    background-color: #f5f5f5;
    padding-top: 0px;
    padding-inline: 70px;
}

.news-cardless h1{
    padding-bottom: 20px;
    color: black;
    font-weight: bolder;
    font-size: 30px;
}
.news-cardless p{
    color: #768a80;
    padding-bottom: 20px;
}

.news-cardtop{
    width: auto;
    background-color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    margin-bottom: 15px;
}
.news-cardtop-left img{
    border-radius: 15px;
    height: 250px;
}
.news-cardtop-right{
    padding-left: 30px;
}
.news-cardtop-right h1{
    font-size: 39px;
    padding-bottom: 5px;
}
.news-cardtop-right h4{
    color: #768a80;
    padding-top: 5px;
    padding-bottom: 10px;
}
.news-cardtop-right p{
    color: #768a80;
    padding-bottom: 15px;
}
.news-cardtop-right button{
    padding: 15px;
    background-color: #006a50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.news-cardtop-right button:hover{
    background-color: red;
}

.news-cardbottom{
    width: auto;
    background-color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
.news-cardbottom-left h1{
    font-size: 39px;
    padding-bottom: 5px;
}
.news-cardbottom-left h4{
    color: #768a80;
    padding-top: 5px;
    padding-bottom: 10px;
}
.news-cardbottom-left p{
    color: #768a80;
    padding-bottom: 15px;
}
.news-cardbottom-left button{
    padding: 15px;
    background-color: #006a50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.news-cardbottom-left button:hover{
    background-color: red;
}
.news-cardbottom-right img{
    border-radius: 15px;
    height: 250px;
}

/* Donate Section */
.donate{
    width: auto;
    height: 550px;
    background-color: #f5f5f5;
    padding-top: 0px;
    padding-inline: 70px;
}

.donate-top h1{
    padding-bottom: 30px;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
.donate-top p{
    color: #768a80;
    text-align: center;
    padding-bottom: 5px;
}

.donate-centercard{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 30px;
}
.donate-card{
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 25px;
    color: black;
    font-weight: bolder;
    font-size: 35px;
    cursor: pointer;
}
.donate-card:hover{
    background-color: green;
    color: white;
}
.donate-cardx{
    background-color: #c6e4d6;
    border: none;
    border-radius: 10px;
    padding: 25px;
    color: black;
    font-weight: bolder;
    font-size: 35px;
    cursor: pointer;
}
.donate-cardx:hover{
    background-color: green;
    color: white;
}

.donate-centerinput form{
    padding-left: 45px;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.donate-centerinput input{
    background-color: white;
    border: none;
    padding: 15px;
    color: #768a80;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    width: 100%;
}
.donate-centerinput input:focus{
    border: none;
    outline: none;
}

.donate-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.donate-bottom button{
    background-color: green;
    border: none;
    border-radius: 10px;
    color: white;
    font: 15px;
    font-weight: bold;
    padding: 15px;
    margin-top: 25px;
    cursor: pointer;
}
.donate-bottom button:hover{
    background-color: red;
}

/* Subscribe Section */
.subscribe{
    width: auto;
    height: 450px;
    background-color: #f5f5f5;
    padding-top: 0px;
    padding-inline: 70px;
}

.subscribe-container{
    background: #c6e4d6;
    border: none;
    border-radius: 10px;
    padding: 25px;
}
.subscribe-container h1{
    padding-bottom: 30px;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
.subscribe-container p{
    color: #768a80;
    text-align: center;
    padding-bottom: 30px;
}
.subscribe-container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 20px;
}
.subscribe-container input{
    background-color: white;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
    color: #768a80;
    font-size: 15px;
    font-weight: 500;
    text-align: start;
    width: 65%;
    margin-right: -1px;
}
.subscribe-container input:focus{
    border: none;
    outline: none;
}
.subscribe-container button{
    background-color: green;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font: 15px;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
}
.subscribe-container button:hover{
    background-color: red;
}
.subscribe-container h4{
    color: #768a80;
    text-align: center;
    font-weight: bolder;
}

/* Footer */
.footer{
    background-color: white;
    padding: 20px;
}
.footer-container h1{
    font-size: 12px;
    text-align: center;
    color: rgb(150, 128, 3);
}
.footer-container div{
    display: flex;
    gap: 25px;
    justify-content: center;
    padding-top: 5px;
}
.footer-container img{
    height: 12px;
}